body{
    background-color: bisque;
}

.container{
    margin: 0;
    background-color: white;
}

.ingredient{
width: 70px;
display: flex;
align-items: center;
}
.ingredient label{
    padding: 10px;
    font-weight: 600;
}
.color{
    color: red;
}
.input-discount{
    width: 800px;
    background-color: bisque;
    border-radius: 5px;
}
